APP_NAME=APP_NAME
APP_ENV=APP_ENV
DEBUG=true

DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD

JWT_SECRET_KEY=JWT_SECRET_KEY
JWT_ALGORITHM=JWT_ALGORITHM
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=JWT_ACCESS_TOKEN_EXPIRE_MINUTES
